@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Gwendolyn:wght@700&family=Montserrat&family=Open+Sans&family=Parisienne&family=Poppins:wght@200;300;400;500;600;700;800&family=Tangerine:wght@700&display=swap');

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.cardHighlight {
  min-height:  100%;
  background-color: lightblue !important;
}

.myNameCard {
  min-height:  100%;
  background-color: lightblue !important;
}

.dyCabreros
{
  font-size: 90px;
  color: #fff;
  cursor: pointer;
  font-family: 'Comforter', sans-serif;
  text-decoration: none;


  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;

}
